[submodule "dependencies/mpark_variant"]
	path = dependencies/mpark_variant
	url = ssh://git@xcp-stash.lanl.gov:7999/mpark/variant.git
[submodule "dependencies/shacl"]
	path = dependencies/shacl
	url = ssh://git@xcp-stash.lanl.gov:7999/scl/shacl.git
[submodule "dependencies/hana"]
	path = dependencies/hana
	url = https://github.com/boostorg/hana.git
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = ssh://git@xcp-stash.lanl.gov:7999/catchorg/Catch2.git
