[submodule "dependencies/mpark_variant"]
	path = dependencies/mpark_variant
	url = ../../mpark/variant.git
[submodule "dependencies/shacl"]
	path = dependencies/shacl
	url = ../../scl/shacl.git
[submodule "dependencies/hana"]
	path = dependencies/Hana
	url = ../../ldionne/hana.git
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = ../../catchorg/Catch2.git
